src/main/mule/uniandes-profesores-sys-api-raml.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">
	<flow name="uniandes-profesores-sys-api-raml-main">
		<http:listener
			config-ref="uniandes-profesores-sys-api-raml-httpListenerConfig"
			path="/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<choice doc:name="Choice" doc:id="5e0a046c-8baa-4c05-8afc-a75988e2c953">
			<when expression="#[attributes.headers.'x-enable-auth' == 'true']">
				<http:basic-security-filter doc:name="Basic security filter" doc:id="7449b1b2-09aa-48fa-89b8-d4bb59556faa" realm="mule" />
				<spring:authorization-filter doc:name="Authorization filter" doc:id="c6fe1ebb-2c89-4a37-b135-3b44466a48a5" requiredAuthorities="ROLE_ADMIN" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Log basic auth Null" doc:id="b2792c4d-5e25-4641-a0aa-b50cfa2b50e8" message="No se envia la solicitud de autenticacion basica con el conector spring, se autenticara por medio de API Manager" />
			</otherwise>
		</choice>
		<apikit:router config-ref="uniandes-profesores-sys-api-raml-config" />
    </flow>
    <flow name="uniandes-profesores-sys-api-raml-console">
        <http:listener config-ref="uniandes-profesores-sys-api-raml-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="uniandes-profesores-sys-api-raml-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\profesores:uniandes-profesores-sys-api-raml-config">
		<flow-ref doc:name="profesores-main-implementation-flow" doc:id="f0d3ec24-9dca-46c3-8a5e-78218c284623" name="profesores-main-implementation-flow"/>
    </flow>
</mule>
